<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Easter Egg!</title>
    <style>
      body {
        background:black;
        color: white;
        font-family: sans-serif;
        text-align: center;
        margin: 0 auto;
      }
      .back {
        font-size: 16px;
        font-weight: italics;
        border: none;
        background:black;
        color: white;
        text-align:center;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <h1>Congrats! You found the Easter Egg!</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QseJhfDjd1s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <form action="https://hwhelper--alex12703.repl.co/">
      <button class="back">Back</button>
    </form>
  </body>
<html>