.body {
  background:#0033cc;
  
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #0033cc;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color:#0033cc}

.button:active {
  background-color:#0033cc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
