<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework Helper</title>
    <style>
      body {
        background:black;
        color: white;
        font-family: sans-serif;
        margin: 0 auto;
      }

      table, th, td {
        border: 1px solid white;
      }

    </style>  
  </head>
  <body>
    <h1 style="text-align: center;">Bucket of Questions</h1>
    <p style="text-align: center;">Feel free to contribute and help others!</p>
    <table style="margin: 0 auto; text-align: center;border=1;">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Question</th>
      </tr>
      </thead>
      <tbody>
        {% for row in csv_data %}
          <tr>
            {% for cell in row.values() %}
            <td>{{ cell }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>  